/.vs
/KpProjects.Classes/bin
/KpProjects.Classes/obj
/KpProjects.Data/bin
/KpProjects.Data/obj
/KpProjectsApi/*.user
/KpProjectsApi/bin
/KpProjectsApi/obj
/KpProjects.Connector/bin
/KpProjects.Connector/obj
/KpProjects.WpfClient/bin
/KpProjects.WpfClient/obj
/KpProjects.Client.Web/obj
/KpProjects.Client.Web/obj